#main{
    #main__card{
        .text__align{
            line-height: 30px;
            width: 100%;
            h3{
                font-size: 35px;
                font-weight: 700;
            }
        }
        .main__card{
            width: 100%;
            display: grid;
            align-items: center;
            grid-gap: 40px;
            grid-template-columns: repeat(2, 2fr);
            .card__mn{
                p ,strong{
                    color: $white-color;
                }
                background-color: #17002E;
                padding: 22px 40px;
                // height: 200px;
                .card__mn-icon{
                    display: flex;
                    align-items: center;
                }
                .card__mn-text{
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                }
            }
        }
    }
}